<section class="post-comments">
  {% if site.comment.disqus %}
    <div id="disqus_thread"></div>
    <script>
    
    var disqus_config = function () {
        this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
        this.page.identifier = "{{ page.url }}";
    };

    var disqus_shortname = '{{ site.comment.disqus }}';
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>要查看<a href="http://disqus.com/?ref_noscript"> Disqus </a>评论，请启用 JavaScript</noscript>
    
  {% else %}
    <div id="comment-container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
      var gitment = new Gitment({
        id: '页面 ID', // 可选。默认为 location.href
        owner: 'jczzq',
        repo: 'https://github.com/jczzq/jczzq.github.io',
        oauth: {
          client_id: '960f1a25a784fa9e0a25',
          client_secret: 'df35812d189795abd0140c7fba835a8b503740b7',
        },
      })
      gitment.render('comment-container')
    </script>
  {% endif %}
  
  
  
</section>
